$pageTopMargin: 25px;
$sidenavBorderWidth: 5px;
$sidenavWidth: 280px;
$sidenavButtonSpanPaddingWidth: 25px;
$iconHeight: 20px;

.sidenav {
  /*grid position*/
  grid-area: sidebar;
  position: relative;
  font-size: 10px;
  background-color: #222;
  border-right: 1px solid #ccc;

  .headerBlock {
    display: flex;
    height: 70px;

    .logo {
      position: relative;
      margin: auto;
      margin-left: 30px;
      margin-right: 10px;
      height: 30px;
      float: left;
    }

    .name {
      margin: auto;
      margin-left: 5px;
      font-size: 20px;
      position: relative;
      color: #ddd;
    }
  }

  .main-menu {
    position: relative;
  }

  .buttonMenu {
    .nav-button {
      display: flex;
      height: 40px;
      width: 100%;
      border: none;
      background-color: #333;
      color: #ddd;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      border-top: 1px solid #555;

      .icon-text-wrapper {
        display: inline-flex;
        flex-direction: row;
        align-items: left;

        .icon-img {
          padding-left: $sidenavButtonSpanPaddingWidth;
          margin-right: 10px;
          max-height: $iconHeight;
        }
        p {
          margin: auto;
          margin-left: 10px;
          font-size: 16px;
        }
      }
    }
    .nav-button:hover {
      background-color: #555;
    }
    .nav-button:focus {
      outline: 0;
    }
    .sidenav-button-active {
      border-right: 10px solid #78afd3;
    }
  }
}
