.demo-section {
  background-color: #ededed;
  height: 200px;

  .title {
    font-size: 30px;
    padding-top: 30px;
    margin-bottom: 40px;
  }

  .green-button {
    color: #ffffff;
    background-color: #2ab29d;
    padding: 20px 25px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 20px;
    border-width: 0px;
    &:hover {
      cursor: pointer;
    }
  }
}
