/*
@copyright : ToXSL Technologies Pvt. Ltd. < www.toxsl.com >
@author     : Shiv Charan Panjeta < shiv@toxsl.com >
 
All Rights Reserved.
Proprietary and confidential :  All information contained herein is, and remains
the property of ToXSL Technologies Pvt. Ltd. and its partners.
Unauthorized copying of this file, via any medium is strictly prohibited.
*/
.dashboard-widget {
  background-color: white;
  height: 300px;
  margin: 25px 0px 0px 41px;
  width: 45%;
  border-radius: 3px;
  float: left;

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .header {
    display: flex;
    height: 50px;
    border-bottom: 1px solid #ccc;
    background-color: #3e7fb5;
    color: white;

    .widget-title {
      font-weight: lighter;
      font-size: 20px;
      margin: auto;
    }

    button {
      margin-left: auto;
    }
  }
}

.dashboard-welcome {
  background-color: white;
  .header {
    padding-top: 30px;
    font-size: 30px;
    font-weight: lighter;
  }
  .question {
    margin-top: 100px;
    font-size: 50px;
  }

  .button-container {
    position: absolute;
    bottom: 10%;
    width: 100%;
    .button-wrapper {
      width: 100%;
      .left {
        float: left;
        width: 50%;

        .create-team {
          text-align: center;
        }
      }
      .right {
        float: right;
        width: 50%;

        .join-team {
          text-align: center;
        }
      }
      .skip-button {
        font-size: 14px;
        position: relative;
        top: 0px;
      }
      button {
        padding: 30px;
        background-color: #2ca4ed;
        color: #fff;
        border: None;
        font-size: 30px;
        margin-bottom: 3px;
      }
    }
  }
}
