/*
@copyright : ToXSL Technologies Pvt. Ltd. < www.toxsl.com >
@author     : Shiv Charan Panjeta < shiv@toxsl.com >
 
All Rights Reserved.
Proprietary and confidential :  All information contained herein is, and remains
the property of ToXSL Technologies Pvt. Ltd. and its partners.
Unauthorized copying of this file, via any medium is strictly prohibited.
*/
$font-family: "Roboto", Helvetica, Arial, sans-serif;

.Registration {
  background-color: skyblue;
  height: 100vh;
}

.login-section,
.reg-section {
  width: 25vw;
  margin: 0 auto;

  font: {
    family: $font-family;
    size: 14px;
    weight: bold;
  }

  color: #777;
  background-color: #f9f9f9;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 15px 25px 15px 25px;

  h1 {
    font-weight: bolder;
    padding: 0;
    margin: 0 {
      bottom: 15px;
    }
  }
}
