.top-nav {
  /*grid location*/
  grid-area: title;
  position: relative;
  color: #000000;
  background-color: #ffffff;
  height: 45px;
  /*position   of title-block*/
  /*New grid setup*/
  display: grid;
  grid-template-columns: minmax(60%, 1fr) 45px 180px;
  grid-template-areas: "logo notifications name";
  border-bottom: 1px solid #ccc;

  .title {
    font-size: 20px;
    color: #222;
    grid-area: logo;
    position: absolute;
    margin-left: 26px;
    margin-top: 10px;
    font-weight: lighter;
  }
  .notification {
    /*parameters neccesary in order to make button clickable*/
    position: relative;
    grid-area: notifications;
    z-index: 1;
    margin: auto;

    /*size and color of button*/
    display: inline-block;
    background-color: #ffffff;
    color: #0084ff;

    /*modifies border color of button*/
    border: none;
    border-left: 2px solid #dfdfdf;
    border-right: 2px solid #dfdfdf;

    /*Smoother transition*/
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;

    img {
      height: 30px;
      width: 30px;
    }
  }
  .notification:hover {
    background-color: #eee;
  }
  .name {
    grid-area: name;
    margin: auto;
    margin-left: 10px;
  }
}
