.profileModal {
  // height: 70%;
  border: None !important;

  .modal-content {
    .role-field {
      padding: 10px;
      background-color: #444;
      color: #fff;

      .close-button {
        position: absolute;
        border: None;
        background-color: transparent;
        top: 8px;
        right: 5px;

        img {
          width: 15px;
          height: 20px;
        }
      }
    }

    .profile-icon {
      position: relative;
      margin-top: 10px;
      width: 200px;
      border: 1px solid #ccc;
      border-radius: 100px;
      left: 25%;
    }

    .profile-info {
      margin: 15px;

      .header {
        padding: 5px;
        color: #222;
        font-size: 30px;
        margin: auto;
      }

      .info {
        font-weight: lighter;
        padding: 5px;
      }
    }
  }
}
