/*
@copyright : ToXSL Technologies Pvt. Ltd. < www.toxsl.com >
@author     : Shiv Charan Panjeta < shiv@toxsl.com >
 
All Rights Reserved.
Proprietary and confidential :  All information contained herein is, and remains
the property of ToXSL Technologies Pvt. Ltd. and its partners.
Unauthorized copying of this file, via any medium is strictly prohibited.
*/
.table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #fff;
    text-align: left;
    font-weight: lighter;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2ca4ed;
    color: white;
  }

  tr:hover td {
    background-color: #eee;
  }

  td {
    height: 29px;
    .delete-button {
      background-color: transparent;
      border: None;
      width: 30px;
      height: 20px;
      margin: auto;

      img {
        width: 15px;
        height: 20px;
      }
    }

    .profile-button {
      width: 36px;
      height: 30px;
      margin: auto;
      border: 1px solid #ccc;
      border-radius: 15px;
      background-color: #888;

      img {
        border: #222;
        width: 20px;
        height: 25px;
      }
    }
    .profile-button:hover {
      background-color: #666;
    }

    .join-button {
      background-color: #2ca4ed;
      color: #fff;
      border: None;
      padding: 8px;
      height: 100%;
    }

    .join-button:hover {
      background-color: #2482bd;
    }
  }
}
