.problem-section {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: #383838;

  .container {
    margin: 80px 100px 0px 100px;
    display: flex;
    flex-direction: row;

    .description-text {
      text-align: left;
      font-size: 22px;
    }

    .left {
      .problem-header {
        margin-bottom: 30px;
        font-size: 45px;
        font-weight: 600;
        text-align: left;
      }

      width: 50%;
      margin-left: 0px;
      padding-right: 100px;
    }

    .right {
      width: 50%;

      img {
        margin-right: 20px;
        width: auto;
        height: 400px;
      }
    }
  }
}
